{{#each erros}}
    <div id="alert-{{@key}}" class="alert alert-danger shadow"><strong onclick="closeAlert({{@key}})" class="cursor-pointer fs-5 text-dark">X </strong><span>{{text}}</span></div>
{{else}}

{{/each}}
<div class="d-flex direction-column">
    <div>
        <a href="/" class="nav-link align-start p-0 me-4">
            <i class="fs-5 bi-house text-black"></i>
        </a>
    </div>
    <div><h5>Cadastrar Plano de Contas</h5></div>
    <div id="btn-lista-plano-de-contas" class="ms-2"><i class="bi bi-card-list rem1200 cursor-pointer"></i></div>
</div>
<div class="card shadow-lg">
    <div class="card-body">
        <form action="/categoria/cadastrar" , method="post">
            <div class="mb-3 row">
                <label for="nome" class="col-sm-4 col-form-label">Categoria: </label>
                <div class="col-sm-12 input-group input-group-sm">
                    <input type="text" class="form-control" name="nome" value="{{dados.nome}}" autofocus>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="subgrupo" class="col-sm-4 col-form-label">Subgrupo: </label>
                <div class="col-sm-12 input-group input-group-sm">
                    <input type="text" class="form-control" name="subgrupo" value="{{dados.subgrupo}}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="grupo" class="col-sm-4 col-form-label">Grupo: </label>
                <div class="col-sm-12 input-group input-group-sm">
                    <input type="text" class="form-control" name="grupo" value="{{dados.grupo}}">
                </div>
            </div>            
            <div>
                <button type="submit" class="btn btn-primary fw-bold">Salvar</button>
            </div>
        </form>
    </div>
</div>

{{!-- listagem de plano de contas abaixo --}}
<div id="lista-plano-de-contas" class="mt-2 d-none">
    <div class="row">
        <div class="col-auto">
            <div class="card">
                <div class="card-body overflow-auto scroll">
                    <table class="table table-sm table-hover table-bordered rem0788">
                        <thead>
                            <tr class="text-center text-nowrap text-light bg-blue-pk">
                                <th scope="col">Id</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Subgrupo</th>
                                <th scope="col">Grupo</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        {{#each categorias}}
                        <tbody>
                            <tr id="{{id}}" class="text-nowrap">
                                <td class="text-center" scope="col">{{id}}</td>
                                <td scope="col">{{nome}}</td>
                                <td scope="col">{{subgrupo}}</td>
                                <td scope="col">{{grupo}}</td>
                                <td scope="col" class="col-vazia"></td>
                                <td scope="col" class="col-vazia"></td>
                                <td scope="col" class="col-vazia"></td>
                                <td scope="col" class="col-vazia"></td>
                                <td scope="col" class="col-vazia"></td>
                                <td scope="col" class="col-vazia"></td>
                                <td scope="col" class="col-vazia"></td>
                                <td scope="col" class="col-vazia"></td>
                            </tr>
                        </tbody>
                        {{else}}
                        <h3>Não há Plano de Contas para listar</h3>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector("#btn-lista-plano-de-contas").addEventListener("click", function(e) {
        let containerListaFornecedores = document.querySelector("#lista-plano-de-contas")
        if ( containerListaFornecedores.classList.value.includes("d-none") ) {
            containerListaFornecedores.classList.remove("d-none")
            e.target.classList.add("text-blue-pk")
        }else {
            containerListaFornecedores.classList.add("d-none")
            e.target.classList.remove("text-blue-pk")
        }
    })
</script>
